In [6]:
import pandas as pd

In [8]:
from sqlalchemy import create_engine
PG_HOST='localhost'
PG_USER='postgres'
PG_DB='postgres'
PG_PASSWORD='postgres'
CONNECTION_STRING=f'postgresql://{PG_USER}:{PG_PASSWORD}@{PG_HOST}:5433/postgres'
pg_client = create_engine(CONNECTION_STRING)

In [20]:
df = pd.read_sql_query('select * from "bbc_source_target"',con=pg_client)
df.head()

,id,text,label,label_1,label_2
0,658,Air Jamaica back in state control\n\nThe Jamai...,business,business,0.35
1,2084,2D Metal Slug offers retro fun\n\nLike some dr...,tech,tech,0.48
2,1419,Parties' plans for council tax\n\nAnger at cou...,politics,politics,0.31
3,1736,Blair pledges unity to Labour MPs\n\nTony Blai...,politics,politics,0.42
4,1107,Saint-Andre anger at absent stars\n\nSale Shar...,sport,sport,0.43

In [22]:
df.shape

(445, 5)

In [11]:
df.isnull().sum()

id         0
text       0
label      0
label_1    0
label_2    0
dtype: int64

In [18]:
from sklearn.metrics import accuracy_score
y_true = df['label']
y_pred = df['label_1']
accuracy_score(y_true, y_pred, normalize=False)

438

In [19]:
round(accuracy_score(y_true, y_pred), 2)

0.98

In [26]:
end = 1664551195.239297
start = 1664549362.810174
(end - start)/44500

0.04117818253763606

In [24]:
import datetime
str(datetime.timedelta(seconds=(end - start)))

'0:30:32.429123'

In [25]:
1832.4291229248047/60

30.540485382080078